# Data files
data/
*.csv
*.tsv
*.xlsx
*.zip

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Environments
.env
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Kaggle outputs
*.pkl
*.joblib
*.h5
